@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

:root {
  --swiper-navigation-size: 52px;
  --swiper-theme-color: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
}

body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  max-width: 100%;
}

.w-full {
  width: 100%;
  height: auto;
}

.insta-container {
  display: grid;
}

.descritption {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.task-list {
  font-size: large;
}

.task-item {
  line-height: 1.5;
}

.text-center {
  text-align: center;
}
.swiper-slide {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper {
  background-color: white;
}

/*desktop*/
@media (min-width: 1020px) {
  body {
    width: 50vw;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }
}
